<html>
  <link href="../assets/css/style.css" rel="stylesheet">
  <header id="header-placeholder">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/profile-img.JPG" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="../index.html">XuanKhanh Nguyen</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/xkhanhnguyen" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/xuankhanhnguyen/"target="_blank"><i class="bx bxl-linkedin"></i></a>
          <a href="https://medium.com/@xknguyen" target="_blank"><i class="bx bxl-medium"></i></a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ngxuankhanhdl@gmail.com" target="_blank">
            <i class='bx bx-envelope' ></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="../templates/resume.html" class="nav-link"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="../templates/skills.html" class="nav-link"><i class="bx bxs-hand"></i> <span>Skills</span></a></li>
          <li><a href="../templates/projects.html" class="nav-link"><i class="bx bx-book-content"></i>
              <span>Projects</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

</html>