<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iproject
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iproject-bootstrap-project-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.JPG" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">XuanKhanh Nguyen</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/xkhanhnguyen" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/xuankhanhnguyen/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://medium.com/@xknguyen" class="medium"><i class="bx bxl-medium"></i></a>
          <!-- <i ></i> -->
           <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ngxuankhanhdl@gmail.com" class="mail">
            <i class='bx bxl-gmail' ></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="index.html" class="nav-link"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="resume.html" class="nav-link"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="skills.html" class="nav-link"><i class="bx bxs-hand"></i> <span>Skills</span></a></li>
          <li><a href="#projects" class="nav-link"><i class="bx bx-book-content"></i>
              <span>Projects</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">
    <!-- ======= Project Section ======= -->
    <section id="projects" class="project section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="project-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-ds">Data Science</li>
              <li data-filter=".filter-volunteer">Volunteer</li>
              <li data-filter=".filter-others">Others</li>
            </ul>
          </div>
        </div>

        <div class="row project-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 project-item filter-ds">
            <div class="project-wrap">
              <p><b>Recommendation Systems via Matrix Factorization</b></p>
              <p><em>December 2020</em></p>
              <p>Exploring the MovieLens 100k dataset with SGD, autograd, and the surprise package.</p>
              <div class="project-links">
                <a href="https://towardsdatascience.com/recommendation-systems-via-matrix-factorization-28e7d0aa8ca7"
                   title="Medium article"><i class="bx bxl-medium"></i></a>
                <a href="project-details-3.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 project-item filter-ds">
            <div class="project-wrap">
              <p><b>Classifying Sentiment from Text Reviews</b></p>
              <p><em>November 2020</em></p>
              <p>Bag-of-word feature representations and word embedding feature representations.</p>
              <div class="project-links">
                <a href="https://towardsdatascience.com/classifying-sentiment-from-text-reviews-a2c65ea468d6"
                   title="Medium article"><i class="bx bxl-medium"></i></a>
                <a href="project-details-2.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 project-item filter-ds">
            <div class="project-wrap">
              <p><b>Classifying Images with Feature Transformations</b></p>
              <p><em>Octorber 2020</em></p>
              <p>Exploring the MNIST1 and FASHION MNIST2 dataset with Logistic Regression and Random Forest.</p>
              <div class="project-links">
                <a href="https://towardsdatascience.com/classifying-images-with-feature-transformations-1fcb69b44fce"
                   title="Medium article"><i class="bx bxl-medium"></i></a>
                <a href="project-details-1.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        
        
          <div class="col-lg-4 col-md-6 project-item filter-ds">
            <div class="project-wrap">
              <p><b>Happiness and Life Satisfaction</b></p>
              <p><em>July 2020</em></p>
              <p>Built a linear regression models to predict the world of happiness.</p>
              <div class="project-links">
                <a href="https://towardsdatascience.com/happiness-and-life-satisfaction-ecdc7d0ab9a5"
                   title="Link to ebook"><i class="bx bxl-medium"></i></a>
                <a href="project-details-6.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 project-item filter-volunteer">
            <div class="project-wrap">
              <p><b>Health and Policy Analysis Team (HPAT)</b></p>
              <p><em>July 2020 – December 2020</em></p>
              <p>Evaluated the effects of policy decisions on essential workers to develop a critique of federal and state government responses to COVID-19.</p>
              <div class="project-links">
                <a href="https://hpatresearchgroup.org/"
                   title="Link to ebook"><i class="bx bx-wink-smile"></i></a>
                <a href="project-details-7.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 project-item filter-volunteer">
            <div class="project-wrap">
              <p><b>CITI Book, DevTech Research Group</b></p>
              <p><em>2020 – 2021</em></p>
              <p>Collaborating with other Ph.D to write a session about the potential of learning analytics as a computational thinking assessment in early childhood education.</p>
              <div class="project-links">
                <a href="https://www.igi-global.com/chapter/insights-into-young-childrens-coding-with-data-analytics/286057"
                   title="Link to ebook"><i class="bx bxs-book-content"></i></a>
                <a href="project-details-4.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 project-item filter-volunteer">
            <div class="project-wrap">
              <p><b>CS50 New Year Seminar - Mentor</b></p>
              <p><em>Jan 2021 - Feb 2021</em></p>
              <p>Answered questions from attendees via Ed.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 project-item filter-others">
            <div class="project-wrap">
              <p><b>Data Science Writer (Freelance)</b></p>
              <p><em>June 2020 – Present</em></p>
              <p>Wrote articles related to data science and machine learning for
                data science oriented publication.</p>
              <div class="project-links">
                <a href="https://medium.com/@xknguyen"
                   title="Link to Medium"><i class="bx bxl-medium"></i></a>
              </div>
            </div>
          </div>
        </div>
          
      </div>
    </section><!-- End project Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iproject-bootstrap-project-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>