<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header-placeholder"></header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <h3 class="resume-title">Summary</h3>
          <p align="justify">Results-focused data professional with a track record of
            driving business growth through data science, engineering, and machine learning.
            Skilled in developing ETL processes, building data pipelines, conducting A/B tests,
            and leveraging data science techniques for actionable insights.
            Proficient in SQL, Python, dbt, Azure, and data visualization tools,
            with expertise in analyzing complex datasets. Holds an M.S. in Data Science.
            Passionate about bridging engineering and analytics to create impactful solutions
            and optimize business performance.</p>
          <!-- <i class="bi bi-envelope-at"></i> -->
          <!-- <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ngxuankhanhdl@gmail.com"
                target="_blank">ngxuankhanhdl@gmail.com &emsp;</a>
              <i class="bi bi-geo-alt"></i><em>Boston, MA</em> -->
        </div>

        <div class="row">
          <h3 class="resume-title">Work Experience</h3>
          <div class="resume-item">
            <div class="resume-company">Ahold Delhaize USA</div>
            <h4>Data Engineer</h4>
            <h5 class="bi bi-calendar3"> 2024 – 2024</h5>
            <h6 class="bi bi-geo-alt"><em>Boston, MA</em></h6>
            <div style="clear: both;"></div>
            <ul>
              <li>Created optimized data models for Vendor Master Data Management
                and implemented efficient ETL processes for seamless data integration.</li>
              <li>Worked with Unity Catalog in Azure Databricks, ran UCX assessments,
                and built a system table dashboard to track key metrics.</li>
              <li>Conducted detailed inventories on Azure Virtual Machines and
                developed a proof of concept for a real-time data pipeline using Delta Live Tables.</li>
            </ul>
          </div>
          <!-- <div class="resume-item">
                <div class="resume-company">Engineering</div>
                <h4></h4>
                <h5 class="bi bi-calendar3"> June 2023 – December 2023  </h5>
                <h6 class="bi bi-geo-alt"><em>Boston, MA</em></h6>
                <div style="clear: both;"></div>
                <ul>
                  <li>Build book-swap website 
                    <ul>
                    <li>A Commercial site where user can swap books and earn points.</li>
                    <li>Languages and technologies used: Django, html, css.</li>
                    </ul>
                  </li>
                  <li> In progress
                      <ul>
                        <li>100 Days of Code: The Complete Python Pro Bootcamp for 2023 taught by Dr. Angela Yu on Udemy. </li>
                      </ul>
                  </li> 
                  <li> Completed
                    <ul>
                      <li>100 Days of Code: The Complete Python Pro Bootcamp for 2023, 01/2024, taught by Dr. Angela Yu on Udemy. </li>
                      <li>Azure Spark Databricks Essential Training, 01/2024</li>
                      <li>Azure Data Factory, 01/2024</li>
                      <li>Power BI Essential Training, 01/2024</li>
                      <li>Completed the course Azure Databricks & Spark For Data Engineers (PySpark / SQL), 09/2023, taught by Ramesh Retnasamy on Udemy.</li>
                      <li>Completed the course A/B Testing in Python, 06/2023, taught by 365 Careers, Anastasia K on Udemy. </li>
                      <li>Completed the course The Complete SQL Bootcamp: Go from Zero to Hero, 06/2023, taught by Jose Portilla on Udemy. </li>
                      <li>Completed the course Statistics / Data Analysis in SPSS: Inferential Statistics, 06/2023, taught by Quantitative Specialists on Udemy.</li>
                  </ul>
                  </li>
                </ul>
              </div> -->
          <div class="resume-item">
            <div class="resume-company">Guild Education</div>
            <h4>Data Scientist</h4>
            <h5 class="bi bi-calendar3"> 2021 - 2023</h5>
            <h6 class="bi bi-geo-alt"><em>Boston, MA</em></h6>
            <div style="clear: both;"></div>
            <ul>
              <li> Served in different roles.</li>
              <li> Analyzed large-scale datasets using advanced tools (SQL, Python, dbt, Looker),
                leveraging analytical and programming skills to deliver insights
                and trends to address business needs and translating them into conceptual designs.</li>
              <li> Built a decision tree model to accurately identify self-server users,
                reducing coaches’ time spent on user contact.</li>
              <li> Conducted A/B tests to improve retention and engagement rates,
              enable stakeholders to easily access real-time test results, and reduce the time to deliver analysis.</li>
              <li> Developed metrics and built a DBT model to consolidate data from multiple sources,
                enabling Marketing Ops to make informed decisions.</li>
              <li> Designed and implemented a Looker dashboard to facilitate performance exploration
                and evaluate strategies over time for Marketing Ops.</li>
              <li> Coordinated with 10 other Data Scientists in an NLP Hackathon to produce
                a pip-install Github repository in which others can process,
                and analyze text data from numerous sources in a few lines of code.</li>
            </ul>
          </div>
          <div class="resume-item">
            <div class="resume-company">DevTech Research Group, Tufts University</div>
            <h4>Data Analytics</h4>
            <h5 class="bi bi-calendar3"> 2019 – 2021 </h5>
            <h6 class="bi bi-geo-alt"><em>Medford, MA</em></h6>
            <div style="clear: both;"></div>
            <ul>
              <li> Served in different roles.</li>
              <li> Collaborated with Ph.D. students to clean and select variables for meaningful and analyzable data.
              </li>
              <li> Utilized Python to identify, analyze, and interpret trends and patterns in ScratchJr app user data.
              </li>
              <li> Developed and implemented databases and data collection systems using PostgreSQL.</li>
              <li> Analyzed detailed user data using Google Analytics and Firebase.</li>
            </ul>
          </div>
        
        <h3 class="resume-item">Skills</h3>
        
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Tufts University - M.S Data Science</h4>
          <!-- <h5 class="bi bi-calendar3"> August 2022</h5>
          <h6 class="bi bi-geo-alt"><em>Medford, MA</em></h6> -->
        </div>
        <div class="resume-item">
          <h4>Tufts University - B.S Data Science</h4>
          <!-- <h5 class="bi bi-calendar3"> December 2021</h5>
          <h6 class="bi bi-geo-alt"><em>Medford, MA</em></h6> -->
        </div>
        <div class="resume-item">
          <h4>Bunker Hill Community College - A.S Computer Science</h4>
          <!-- <h5 class="bi bi-calendar3"> September 2019</h5> 
          <h6 class="bi bi-geo-alt"><em>Boston, MA</em></h6> -->
        </div>
      </div>
      </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <footer id="footer-placeholder"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/common.js"></script>


</body>

</html>